# macos junk
.DS_Store
# local mkcert generated certificates for https
/.traefik/certs
# never commit this
/.env
# ignored on the main branch, force-added on the gh-pages branch
docs
# Assets ready for publishing are put here
/deploy

#dependencies
node_modules